# Logs
logs
*.log
npm-debug.log*

# Dependencies
/node_modules/

# Debugger logs
shinkwrap.txt

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output directory
/dist/

# Environment files
.env
.env.test
.env.production

# Editor files
.vscode/
.idea/
.DS_Store
